.buttondiv{
    text-align: center;
}
.btnficha{
    color: blanchedalmond;
    border-radius: 3mm;
    padding: 10px;
    background-color: chocolate;
	border: none;
	font-size: 3.5mm;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}
.btnficha:hover{
    transition: background-color 0.5s ease;
    outline: none;
    border-radius: 3mm;
    background-color: rgb(233, 128, 53);
}
.btnficha:focus{
    outline: none;
    border-radius: 3mm;
}
.img_descripcion{
    height: 200px;
    width: auto;
    object-fit: cover;
}