.nav_carro {
    margin-left: auto; 
    padding-left: 15px; 
}
.nav_link{
    font-size: large;
    font-weight: 600;
}
.nombre_tienda{
    font-family: 'Vampiro One', cursive;
    font-size: 6mm;
    font-weight: 400;
    
}