.nav_carro {
    margin-left: auto; /* Empuja el elemento hacia la derecha */
    padding-left: 15px; /* Espaciado opcional entre el carrito y los demás */
    list-style: none;
}
.nav_link{
    font-size: large;
    font-weight: 600;
}
.nombre_tienda{
    font-family: 'Vampiro One', cursive;
    font-size: 6mm;
    font-weight: 400;
    
}