.body{
    background-color: #f8f9fa;
}

.cardfoto{
    height: 200px;
    /*width: auto; */
    object-fit: cover;
}
.logo{
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
}
.titulo_articulo{
    height: 100px;
    max-height: 80px;
}
.nombre_tienda{
    font-family: 'Vampiro One', cursive;
    font-size: 6mm;
    font-weight: 400;
    
}
.font_articulo{
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.6mm;
    font-weight: bolder;
    color: #666666;
}



