.btnCompra{
    color: blanchedalmond;
    border-radius: 3mm;
    padding: 10px;
    background-color: #6c757d;
	border: none;
	font-size: 3.5mm;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;  
}
.btnCompra:hover{
    transition: background-color 0.5s ease;
    outline: none;
    border-radius: 3mm;
    background-color: rgb(14, 143, 42);
}
.btnCompra:focus{
    outline: none;
    border-radius: 3mm;
}
.btnCompra.disabled {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}
.unset {
    all: unset;
}

.popover-content {
    max-width: 100%; 
}
.popover {
   --bs-popover-max-width: none; 
}   